#loading-layer.loading-layer
  .inner
    .load-wrapper
      .load-6
        .word
          .letter L
          .letter o
          .letter a
          .letter d
          .letter i
          .letter n
          .letter g
          .letter .
          .letter .
          .letter .
    .load-wrapper
      .load-2
        .line
        .line
        .line
