doctype html
include ./_head.pug
.app-container
  section.container(style='--app-main-width: 100%; --app-main-height: 100%;')
    include ./sidebar/_sidebar-container.pug
    include ./canvas/_canvas-container.pug
    include ./keypad/_keypad-container.pug
  footer
    p scicave@2020 - PLOTTO
include ./_defer-scripts.pug
