.main-tools-container
      .merged-buttons.column
        button#zoom-in-btn.btn-2 +
        button#zoom-out-btn.btn-2 -
      button#home.btn-2
        i.fas.fa-home
      //
         <button class="btn-1">
         <i class="fas fa-cogs"></i>
         </button>
         <button class="subtools-btn btn-2"></button>
      //
         <div class="do-redo">
         <button class="do transbtn">
         <i class="fas fa-reply"></i>
         </button>
         <button class="redo transbtn">
         <i class="fas fa-share"></i>
         </button>
         </div>
