.header
   #add-more
      button.toggle.transbtn +
      //
         <div class="menu more-menu">
         <button class="transbtn">Expression</button>
         <button class="transbtn">Text</button>
         <button class="transbtn">Table</button>
         <button class="transbtn"></button>
         <button class="transbtn">At All.</button>
         </div>
   #show-hide-sidebar.visible
      button.transbtn
         span.arrow.left
            i.fas.fa-chevron-left
         span.arrow.right
            i.fas.fa-chevron-right
         span.arrow.up
            i.fas.fa-chevron-up
         span.arrow.down
            i.fas.fa-chevron-down