head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='assets/icon256.png', type='image/ico', sizes='256x256')
  meta(name='keywords', content='Graphing,Calculator,Animation,Geometry,Math,Latex,Calculus')
  meta(name='author', content="scicave's team")
  meta(name='description', content='RASM - Graphing Calculator, Animations, Points, Geometry, Calculus, Easy to deal with')
  title RASM - Graphing Calculator - sciCave
